/* Global */
:root {
    --nav-load-time: 500ms;
    --text-load-time: 2s;
}
* {
    scroll-behavior: smooth;
}

/* Main Content Styling */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Navbar/Popover Styling */
#navbar {
    animation: nav-load var(--nav-load-time) ease-in;
}

.popover {
    background-color: #D8D9DA;
    font-size: 18px;
}

.popover-header {
    background-color: #272829;
    font-size: 18px;
    color: white;
}

/* Home Background/Intro Styling */
.masthead {
    background-size: cover;
    min-height: 100vh;
    position: relative;
}

.color-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
}

#intro {
    animation: text-load var(--text-load-time) ease-in;
}

/* @Keyframes */
@keyframes nav-load {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes text-load {
    0% {
        transform: translateY(-20%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}