/* Global Styling */
* {
    scroll-behavior: smooth;
}

/* Main Content Styling */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Navbar Styling */
/* Popover styling */
.popover {
    background-color: #D8D9DA;
    font-size: 18px;
}

.popover-header {
    background-color: #272829;
    font-size: 18px;
    color: white;
}

/* Background Styling */
.masthead {
    background-size: cover;
    min-height: 100vh;
    position: relative;
}

.color-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
}
